body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 56px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar-brand {
    font-weight: bold;
    color: white
}

.navbar {
    background-color: rgb(9, 133, 0);
    color: white;
    border:1px;
    border-color: rgb(9, 133, 0) !important;
    
}

.navbar a{
    color: white
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}